@charset 'utf-8'
@import 'fonts'
@import 'mixins/nib'
@import 'mixins/normalize'
@import 'mixins/loader'

color1 = #1abc9c
color2 = #3498db
color3 = #ff688b


body
    font-family 'Open Sans', Helvetica, Arial, sans-serif
    user-select none

#app
    perspective 500
    overflow hidden

#app, #app > div, #app > div > div, #userareas, .userarea, #controls, #controls > div
    position absolute
    top 0
    left 0
    right 0
    bottom 0


#controls
    left 50%
    top 50%
    margin -300px -200px
    border-radius 4px
    height 600px
    width 400px
    background rgba(255,255,255,0.7)
    box-shadow 1px 1px 1px rgba(0,0,0,.3)
    transform rotateX(10deg)
    transform-origin 70% 50%
    transition all .2s ease-in
    opacity 0

    &.visible
        transform rotateX(0)
        opacity 1

    button
        width 100%
        display inline-block
        font-size 1.3em
        margin 0
        padding 15px 25px
        background 0
        border 0
        outline 0
        text-align center

        border-radius 0 0 4px 4px
        position absolute
        bottom 0
        left 0

        &.joinRoom
            color #fff
            background linear-gradient(top, darken(green, 10%) 80%, darken(green, 20%) 100%)

        &.leaveRoom
            color #fff
            background linear-gradient(top, darken(red, 30%) 80%, darken(red, 40%) 100%)

    > div > div
        text-align center
        font-weight 700

    .logo
        text-align center
        font-family Lobster
        font-size 3.5em
        padding 170px 25px 5px
        text-shadow 1px 1px 0 #fff, 2px 2px 0 #fff, 3px 3px 0 #fff, 5px 5px 0 #fff, 5px 5px 0 #fff

    p
        margin 0
        padding 0 55px 35px

    a
        color #222

    p:nth-child(2)
        color #222
        font-weight 200

    .link
        position absolute
        bottom 65px
        left 0
        right 0
        font-weight 200

        input
            width 330px
            text-align center
            font-size 1em
            padding 5px 8px


#userareas
    .userarea
        overflow hidden

        > div
            position absolute
            width 100vw
            height 100vh
            margin 0
            background #000
            transition all .5s ease-out

            video
                width 100%
                height 100%

@media all and (min-width: 680px)
    #userareas
        &.split2
            .userarea:nth-child(1)
                right 50%

            .userarea:nth-child(2)
                left 50%

            .userarea > div
                margin 0 -25vw

        &.split3
            .userarea:nth-child(1)
                right 66.7%

            .userarea:nth-child(2)
                left 33.3%
                right 33.3%

            .userarea:nth-child(3)
                left 66.7%

            .userarea > div
                margin 0 -33.3vw

@media all and (max-width: 679px)
    #userareas
        &.split2
            .userarea:nth-child(1)
                bottom 50%

            .userarea:nth-child(2)
                top 50%

            .userarea > div
                margin -25vh 0

        &.split3
            .userarea:nth-child(1)
                bottom 66.7%

            .userarea:nth-child(2)
                top 33.3%
                bottom 33.3%

            .userarea:nth-child(3)
                top 66.7%

            .userarea > div
                margin -33.3vh 0

#userareas .userInfo
    position absolute
    text-align center
    color #fff
    width 200px
    margin 0 -100px
    left 50%
    top 47%

#noUser
    top 0
    left 0
    right 0
    bottom 0
    position absolute
    overflow hidden
    vendor(filter, blur(100px))

    &:after
        display block
        content ""
        padding 400px
        margin -400px
        position absolute
        left 30%
        top 35%
        border-radius 400px
        background linear-gradient(top left, color1 0%, color2 100%)
        animation move1 30s linear

    &:before
        display block
        content ""
        padding 600px
        margin -600px
        position absolute
        left 80%
        top 70%
        border-radius 600px
        background linear-gradient(bottom left, color2 0%, color3 100%)
        animation move2 23s linear

@keyframes move1
    0%, 100%
        transform translate(0,0) rotateZ(0) scale(1)
    20%
        transform translate(50px, 30px) rotateZ(45deg)
    40%
        transform translate(20px, 80px) scale(1.5)
    60%
        transform translate(-90px, 50px) rotateZ(200deg)
    80%
        transform translate(-40px, -30px) scale(1.05)

@keyframes move2
    0%, 100%
        transform translate(0,0) rotateZ(0) scale(1)
    20%
        transform translate(-50px, -30px) rotateZ(-85deg)
    40%
        transform translate(-20px, -80px)
    60%
        transform translate(90px, 10px) rotateZ(-230deg) scale(.82)
    80%
        transform translate(40px, 50px)


