// Addresses font sizes and margins set differently in IE6/7
// Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5

h1
  font-size 2em
  margin 0.67em 0
  font-weight 300

h2
  font-size 1.5em
  margin 0.83em 0
  font-weight 300

h3
  font-size 1.17em
  margin 1em 0
  font-weight 300

h4
  font-size 1em
  margin 1.33em 0

h5
  font-size 0.83em
  margin 1.67em 0

h6
  font-size 0.75em
  margin 2.33em 0
