// Prevents sub and sup affecting line-height in all browsers
// gist.github.com/413930

sub,
sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.25em
