// Removes inner padding and border in FF3+
// www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/

button::-moz-focus-inner,
input::-moz-focus-inner
  border: 0
  padding: 0
