// 1. Corrects font size not being inherited in all browsers
// 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
// 3. Improves appearance and consistency in all browsers

button,
input,
select,
textarea
  font-size: 100% // 1
  margin: 0 // 2
  vertical-align: baseline // 3
  *vertical-align: middle // 3
