// 1. Corrects color not being inherited in IE6/7/8/9
// 2. Corrects text not wrapping in FF3
// 3. Corrects alignment displayed oddly in IE6/7

legend
  border: 0 // 1
  padding: 0
  white-space: normal // 2
  *margin-left: -7px // 3
