/*! mixins/normalize/.styl | http://github.com/nulltask/mixins/normalize/.styl */
/*! based on hail2u's mixins/normalize/.scss | https://github.com/hail2u/mixins/normalize/.scss */

normalize-html5()
  @import 'mixins/normalize/html5'

normalize-base()
  @import 'mixins/normalize/base'

normalize-links()
  @import 'mixins/normalize/links'

normalize-typography()
  @import 'mixins/normalize/typography'

normalize-lists()
  @import 'mixins/normalize/lists'

normalize-embed()
  @import 'mixins/normalize/embed'

normalize-figures()
  @import 'mixins/normalize/figures'

normalize-forms()
  @import 'mixins/normalize/forms'

normalize-tables()
  @import 'mixins/normalize/tables'

global-normalize()
  normalize-html5()
  normalize-base()
  normalize-links()
  normalize-typography()
  normalize-lists()
  normalize-embed()
  normalize-figures()
  normalize-forms()
  normalize-tables()

